* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
}

h1 {
    margin: 50px 0px 0px;
}

p {
    margin: 10px;
}

.container {
    width: 80%;
    border: 5px solid black;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container div {
    text-align: center;
    margin: 10px;
}

.container div ul {
    width: 300px;
    border: 1px solid black;
    list-style: none;
    margin: auto;
    display: flex;
}

.container div ul li {
    width: 25px;
    height: 25px;
    background-color: yellow;
    font-weight: bold;
    font-size: 0.5m;
    line-height: 25px;
    text-align: center;
}

.container div ul li:nth-child(even) {
    background-color: lightgreen;
}

/* FLEX-DIRECTION */
.flex-direction .row {
    flex-direction: row;
}

.flex-direction .column {
    flex-direction: column;
}

.flex-direction .row-reverse {
    flex-direction: row-reverse;
}

.flex-direction .column-reverse {
    flex-direction: column-reverse;
}