* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
}

h1 {
    margin: 20px 0px 0px;
}

p {
    margin: 10px;
}

h3 {
    margin: 30px 0px 10px;
}

.container {
    width: 80%;
    border: 5px solid black;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container div {
    text-align: center;
    margin: 10px;
}

.container div ul {
    width: 300px;
    height: default;
    border: 1px solid black;
    list-style: none;
    margin: auto;
    display: grid;
}

.container div ul li {
    padding: 15px;
    background-color: yellow;
    font-weight: bold;
    font-size: 1em;
    line-height: 25px;
    text-align: center;
}

.container div ul li:nth-child(even) {
    background-color: lightgreen;
}

/* JUSTIFY-ITEMS */
/* default: stretch  */
.justify-items .start {
    justify-items: start;
}

.justify-items .end {
    justify-items: end;
}

.justify-items .center {
    justify-items: center;
}

.justify-items .stretch {
    justify-items: stretch;
}