* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
    margin: 20px 0px 0px;
}

p {
    margin: 10px;
}

h3 {
    margin: 30px 0px 10px;
}

.align-self {
    width: 80%;
    border: 5px solid black;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.align-self ul {
    width: 400px;
    height: 200px;
    list-style: none;
    margin: auto;
    display: flex;
}

.align-self ul li {
    padding: 10px;
    background-color: yellow;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.align-self ul li:nth-child(even) {
    background-color: lightgreen;
}

/* ALIGN-SELF */
.align-self ul .flex-start {
    align-self: flex-start;
}

.align-self ul .flex-end {
    align-self: flex-end;
}

.align-self ul .center {
    align-self: center;
}

.align-self ul .stretch {
    align-self: stretch;
}

.align-self ul .baseline {
    align-self: baseline;
}

/* flex-dirextion: column */
.column ul {
    flex-direction: column;
}